.content {
    display: none;
    opacity: 0;
}

.content-active {
    display: block;
    opacity: 1;
}

::view-transition-old(root) {
    animation: fade-out 0.5s ease;
}

::view-transition-new(root) {
    animation: fade-in 0.5s ease;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

//jquery
// function updateContent(newPageId) {
//     document.querySelectorAll('.content').forEach(page => {
//         page.style.display = 'none';
//         page.classList.remove('content-active');
//     });

//     const newPage = document.getElementById(newPageId);
//     newPage.style.display = 'block';
//     newPage.classList.add('content-active');
// }