@use"../../foundation/variables";
@use"../../foundation/mixin";

.p-search-form{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    @include mixin.breakpoint(pc){
        justify-content: flex-end;
        flex-grow: 1;
        margin: 0 30px;
    }
    
    &__input,
    &__submit{
        border: 1px solid variables.$color--font;
        border-radius: 10px;
        height: 46px;
    }
    
    &__input{
        width: 216px;
        padding-left: 50px;
        background: url(../images/icon/search.png) no-repeat left 4px center;
        transition: width 0.3s;
        
        @include mixin.breakpoint(tablet){
            flex-grow: 1;
            max-width: 396px;
        }

        @include mixin.breakpoint(pc){
            &:focus{
                // position: absolute;
                // width: 396px;
                // top: 0;
                // right: 146px;
                // background-color: #fff;
                // box-shadow: -10px 10px 5px rgba($color: #fff, $alpha: 0.7);
                border-color: variables.$color--contents;
            }
       
        }
        

    }
    
    &__submit{
        width: 90px;

        @include mixin.breakpoint(tablet){
            width: 136px;
        }

    }

}

.search-result{
    font-weight: 700;
    font-size: 1.6rem;
}

