@use"../../foundation/variables";
@use"../../foundation/mixin";
.p-information,
.p-information__mask{
    background: rgba($color: #000000, $alpha: 0.3);
}

.p-information{
    margin-top: 20px;
    color: #fff;
    padding: 0;
    max-width: 100%;
    
    &__wrap{
        max-width: 950px;
        padding: 41px 40px 57px;

        @include mixin.breakpoint(full){
            padding: 86px 134px 75px 119px;
        }
    }

    &__mask{
        position: absolute;
        width: 100%;
        height: 60%;
        top: 0;
        left: 0;
        z-index: -1;

        @include mixin.breakpoint(tablet){
            height: 100%;
            max-width: 950px;
        }
    }


    &__title{
        font-size: 3.0rem;
        margin-bottom: 30px;
        
        
        @include mixin.breakpoint(full){
            font-size: 3.6rem;
            margin-bottom: 109px;
        }
        
        &::after{
            width: 75px;
            height: 2px;
            top: 62px;
            left: 0;
            
            @include mixin.breakpoint(full){
                top: 110px;
            }
        }
        
    }

    &__text{
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 33px;
    }
}