@use"../../foundation/variables";
@use"../../foundation/mixin";

.p-information{
    width: 100%;
    max-width: 1300px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;

    &__wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__typography{
        max-width: 616px;
        aspect-ratio: 335 / 642;
    }
    
    &__title{
        font-size: 8.0rem;
        margin-left: 10px;
        color: variables.$color--white;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            background-color: variables.$color--white;
            width: 63px;
            height: 4px;
            top: 160px;
            left: 17px;
        }
    }

    &__detail{
        font-family: "M PLUS 1";
        margin: 16px;
        padding: 6px 16px 21px 16px;
        background: rgba($color: #fff, $alpha: 0.8);

        h3{
            font-size: 2.4rem;
            margin-bottom: 6px;
        }

        p{
            color: variables.$color--font;
            font-weight: bold;
        }
    }
}