@use"../../foundation/variables";
@use"../../foundation/mixin";

.p-single{
    margin: 0 auto 40px;

    @include mixin.breakpoint(tablet){
        padding: 0 20px 60px;
        margin-bottom: 90px;
    }

    @include mixin.breakpoint(pc){
        margin-bottom: 217px;
    }

    &__mainvisual{
        height: 225px;
        margin-bottom: 30px;

        @include mixin.breakpoint(tablet){
            height: 500px;
        }
    }

    &__gap{
        margin-bottom: 28px;

        @include mixin.breakpoint(tablet){
            margin-bottom: 57px;
        }

        &--text{
            margin-bottom: 36px;
    
            @include mixin.breakpoint(tablet){
                margin-bottom: 60px;
            }
        }
    }

    &__eyecatch{
        aspect-ratio: 2.7 / 1;
        margin: 30px 0;
        overflow: hidden;

        @include mixin.breakpoint(tablet){
            margin: 60px 0;
        }

        img{
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }

    &__wrap{
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include mixin.breakpoint(tablet){
            row-gap: 60px;
        }

    }
    
    &__card{
        column-gap: 10px;
        
        @include mixin.breakpoint(tablet){
            column-gap: 20px;
        }
        
        &:nth-child(even){
            flex-direction: row-reverse;
        }

        &:last-child{
            width: 71%;
        }

        &--img{
            width: 100%;
            height: 100%;
            aspect-ratio: 1.6 / 1;
            flex: 1;
        }
        
        &--content{
            flex: 1.26;
        }
    }

    &__list{
        padding-top: 32px; 
        
        @include mixin.breakpoint(tablet){
            margin-left: 50px;
        }
        
        ul, ol{
            margin-bottom: 17px;

            &:last-child{
                margin-bottom: 25px;
            }

            &:nth-child(even){
                text-indent: 1rem;
            }
        }

        ol{
            list-style: decimal inside;
        }

    }

    &__code{  

        code{
            font-family: "M PRUS 1";
        }
    }

    &__table{
        margin-bottom: 60px;
    }

    &__button{
        width: 100%;
        height: 81px;
        border-radius: 20px;
        border: 1px solid variables.$color--font;
        max-width: 429px;
        margin-bottom: 30px;

        @include mixin.breakpoint(tablet){
            margin-bottom: 60px;
        }
    }
  
    //投稿ページデフォルト
    h1,h2,h3,h4,h5,h6,p{
        padding: 10px 20px;
        word-break: break-all;
    }

    ul,ol,dl,pre{
        padding: 10px 30px;
    }

    pre{
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    ul{
        list-style-type: square;
    }

    ol{
        list-style: decimal;
    }

    li{
        padding: 8px 0;
    }

    dd{
        padding-left: 2em;
        margin-bottom: 2px;
    }

    .tag{
        margin: 100px 0 60px;
        // font-style: italic;
        color: variables.$color--contents;
    }

    blockquote > p{
        display: inline-grid;
        font-style: italic;
    }

    blockquote a::before{
        content: '\A';
        white-space: pre;
    }

    p img{
        width: auto;
    }

    a:hover{
        font-weight: bold;
    }

    // a{
    //     position: relative;

    //     &::before{
    //         background: variables.$color--contents;
    //         content: '';
    //         width: 100%;
    //         height: 1px;
    //         position: absolute;
    //         left: 0;
    //         bottom: 2px;
    //         margin: auto;
    //         transform-origin: right top;
    //         transform: scale(0, 1);
    //         transition: transform .3s;        
    //     }

    //     &:hover::before{
    //         transform-origin: left top;
    //         transform: scale(1, 1);
    //     }

    // }

    table{
        width: 100%;
        font-size: 1.4rem;
        margin: 20px auto;

        @include mixin.breakpoint(pc){
            width: 95%;
            font-size: 1.6rem;
        }

        // th,td{
        // }
        
        td{
            padding-left: 29px;
            height: 77px;
        }

    }
}





