@use"../foundation/variables";
@use"../foundation/mixin";

.l-main{
    width: 100%;

    &__title{
        color: variables.$color--white;
        position: relative;
             
        &::after{
            position: absolute;
            content: "";
            background-color: variables.$color--white;           
        }
        
    }

}

section{
    padding: 20px;

    @include mixin.breakpoint(pc){
        width: 90%;
        max-width: 1353px;
    }
}