@use"../foundation/variables";
@use"../foundation/mixin";

.l-main{
    width: 100%;

    &__title{
        color: variables.$color--white;
        position: relative;
             
        &::after{
            position: absolute;
            content: "";
            background-color: variables.$color--white;           

        }
}

}