@use"../foundation/variables";
@use"../foundation/mixin";

html{
    font-size: 62.5%;
}

body{
    min-width: 350px;
    width: 100%;
    margin: 0;
    font-family: "Roboto", "M PLUS 1",  sans-serif;
    font-size: 1.6rem;
    background: variables.$color--white;
    color: variables.$color--font;
    line-height: 1.7;
    overflow-x: hidden;
}

@include mixin.breakpoint(pc){
    body{
        display: grid;
        grid-template:
        "header aside" 216px
        "main aside" 
        "footer footer" ;
        grid-template-columns: 1fr 328px;
    }

    .l-header{
        grid-area: header;
    }

    .l-main{
        grid-area: main;
    }

    .l-side{
        grid-area: aside;
    }
    
    .l-footer{
        grid-area: footer;
    } 

} 

@include mixin.breakpoint(full){
    body{
        grid-template-columns: 1fr 378px;
    }
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p,figure{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1{
    font-weight: 700;
    font-size: 3.6rem;

    @include mixin.breakpoint(pc){
        font-size: 6.0rem;
    }
}


.search-result{
    font-weight: 700;
    font-size: 1.6rem;
}

h2{
    font-size: 2.8rem;

    @include mixin.breakpoint(pc){
        font-size: 3.6rem;
    }
}


h3{
    font-size: 2.4rem;
}


// p{
//     white-space: wrap;
//     font-size: 1.6rem;

//     @include mixin.breakpoint(pc){
//         font-size: 2.0rem;
//     }
// }

// h4{
//     font-size: 1.4rem;
//     height: 50px;
//     line-height: 50px;
// }

small{
    font-size: 1.4rem;
}

ul,ol{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;

    &:hover{
        cursor: pointer;
    }
}

input:focus {
    outline: 1px darkorange solid;
}

.more-link{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

    > a{
      color: variables.$color--link;
    }
}

.link-color{
    color: variables.$color--link;  
}

.inview{
    transform: translateY(30px);
    opacity: 0;
    transition: tramsform 1s, opacity 1s;
}

.inview.show{
    transform: translateY(0);
    opacity: 1;
}



